* {
    margin: 0;
  }
  
  /* Basic page layout */

section {
  margin: 4rem 2rem;
}

hr {
  width: 90%;
  margin-left: 5%;
}

.self {
  float: right;
  padding: 5px;
  top: 180px;
  right: 20px;
  width: 200px;
  height: 160px;
  word-wrap: break-word;
  object-fit: contain;
}

/* .carousel-inner {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  top: 0;
  bottom: auto;
} */